.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 61px;
    background-color: #FF9900;
    color: white;
    text-align: center;
}

.el-main {
    background-color: #000000
}

.el-form {
    margin-top: 1em;
    margin-left: 1em;
}

.header {
    font-size: 20px;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #FF9900;
    color: #fff;
    text-align: left;
    // padding: 15px;
    padding: auto;
    position: fixed;
}

.header a {
    text-decoration: none;
}

.header a:link,
.header a:visited {
    color: #fff;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.content-style {
    line-height: 30px;
}

.tab-style {
    margin-right: 5px;
}

.box-card {
    height: 360px;
    font-size: 15px;
}

.col-style {
    padding: 10px;
}

.text {
    font-size: 14px;
}

.page-component-up {
    background-color: #FF9900;
    position: fixed;
    right: 80px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 0 6px rgba(0, 0, 0, .12);
}

.page-component-up i {
    color: #fff;
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
}

.list-link:link,
.list-link:visited {
    color: #FF9900;
}

.list-link:hover {
    color: #bc7100;
}
